{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <title>OSTWebApp</title>
</head>

<body>
  <div class="container-fluid">
    <div class="home-con">
      <div class="top-row">
        <div class="customer-name-board">
          <h4>{{wish}}</h4>
          <h2>{{name}}</h2>
        </div>
        <div class="end-nav">
          <div class="profile-img" onclick="navshow()">
            {%if profile == "NULL"%}
            <img src="{% static 'images/defalut-profile.svg' %}" alt="profile-img" class="img-fluid">
            {%else%}
            <img src="{{profile}}" alt="profile-img" class="img-fluid">
            {%endif%}
          </div>
        </div>
      </div>
      <div class="center-nav" id="centernav">
        <div class="main-nav">
          <div class="nav-list" onclick="location.href='/'">
            <img src="{% static 'images/home-icon.svg' %}" alt="home" class="img-fluid">
          </div>
          <div class="nav-list nav-active" onclick="location.href='/lightpage'">
            <img src="{% static 'images/device-icon.svg' %}" alt="home" class="img-fluid">
          </div>
          <div class="nav-list">
            <img src="{% static 'images/rooms.svg' %}" alt="home" class="img-fluid">
          </div>
          <div class="nav-list">
            <img src="{% static 'images/schedule-icon.svg' %}" alt="home" class="img-fluid">
          </div>
          <div class="nav-list">
            <img src="{% static 'images/scenes-icon.svg' %}" alt="home" class="img-fluid">
          </div>

          <div class="logout">
            <img src="{% static 'images/logout-icon.svg' %}" alt="logout-icon" class="img-fluid">
          </div>
        </div>

      </div>

      <div class="bottom-con">
        <div class="main-device-con">
          <label for="check" class="device-con offlightcon">
            <div class="text-center py-4">
              <!-- <img src="{% static 'images/bulb.svg' %}" alt="offlight" class="img-fluid onlightcon"> -->
              <img src="{% static 'images/onlight.svg' %}" alt="offlight" class="img-fluid onlightcon">
              <div class="btn-border">
                {{name}}
              </div>
            </div>
          </label>
          {% for id,name,type in alldevice %}
          <form action="/lightpage/" method="post" class="lightForm device-con">
            {% csrf_token %}
            <button type="button" name="homeidlight" value="{{ id }}" class="homeidButton">
              {% if type == "light" %}
              <img src="{% static 'images/bulb.svg' %}" alt="offlight" class="img-fluid ">
              {% endif %}
              {% if type == "gate" %}
              <img src="{% static 'images/armgate.svg' %}" alt="offlight" class="img-fluid ">
              {% endif %}
              <div class="btn-border">
                {{name}}
              </div>
            </button>
            <span id="{{ homeid }}"></span>
          </form>
          {% endfor %}

          <form action="" class="device-con">
            <div class="connectionerror">
              <img src="{% static 'images/error.svg' %}" alt="error" class="img-fluid">
            </div>

            <div class="light-btn">

              <!-- type light -->
              <button class="onlights">
                <!-- light on -->
                <img src="{% static 'images/onlight.svg' %}" alt="offlight" class="img-fluid ">
                <div class="btn-border onborder">
                  Light On
                </div>

              </button>
              <!-- light off -->
              <button class="offlight">
                <img src="{% static 'images/offlight.svg' %}" alt="offlight" class="img-fluid ">
                <div class="btn-border offborder">
                  Light Off
                </div>
              </button>
              <!-- light off btn above -->

            </div>


            <!-- type fan -->

            <!-- fan on -->
            <div class="fan-controller">
              <button>-</button>
              <button>+</button>
            </div>
            <button class="onlights">
              <img src="{% static 'images/fanon.svg' %}" alt="offlight" class="img-fluid ">
              <div class="btn-border onborder">
                Fan On
              </div>
            </button>
            <div class="speedboard">
              <span>Speed 5</span>
            </div>
            <!-- fan off -->
            <button class="offlight">
              <img src="{% static 'images/fanoff.svg' %}" alt="offlight" class="img-fluid ">
              <div class="btn-border offborder">
                Fan Off
              </div>
            </button>
            <!-- light off btn above -->


            <div class="fan-btn"></div>

          </form>
        </div>
      </div>
    </div>
  </div>
  

  <!-- script start=== -->
  <script src="{% static 'js/ui.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- <script>
    function updateState2() {
            $.ajax({
                url: "/get_state/",
                type: 'GET'
            })
                .done(response => {
                    const data = response
                    light_state = data["light_state"];
                    light_id= data["light_id"]
                    if (light_id.length === light_state.length) {
                        for (var i = 0; i < light_id.length; i++) {
                            var id = light_id[i];
                            var state = light_state[i];
                            console.log(state)
                            document.getElementById(id).innerText = state
                            console.log("Light ID: " + id + ", Light State: " + state);
                        }
                    } else {
                        console.log("The two lists have different lengths.");
                    }
                });
        }
    $(document).ready(function() {
        updateState2();
        setInterval(updateState2, 1000);
    });
   </script> -->
  <script>
    $(document).ready(function () {
      function submitForm(homeid) {
        var formData = {
          'homeidlight': homeid,
          'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        };

        $.ajax({
          type: 'POST',
          url: '/get_state/',
          data: formData,
          success: function (data) {
            for (var i = 0; i < data.light_id.length; i++) {
              console.log(data.light_id[i], data.light_state[i])
              $('#light_' + data.light_id[i]).text(data.light_state[i]);
            }
          },
          error: function (xhr, status, error) {
            console.log('Error:', error);
          }
        });
      }
      $('.homeidButton').each(function () {
        var homeid = $(this).val();
        setInterval(function () {
          submitForm(homeid);
        }, 1000);
      });
    });
  </script>
</body>

</html>