{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>OSTWebApp</title>
</head>
<body>
   <div class="container-fluid">
   <div class="home-con">
    <div class="top-row">
        <div class="customer-name-board">
            <h4>{{wish}}</h4>
            <h2>{{name}}</h2>
        </div>
       <div class="end-nav">
        <div class="profile-img">
            {%if profile == "NULL"%}
            <img src="{% static 'images/defalut-profile.svg' %}" alt="profile-img" class="img-fluid">
            {%else%}
            <img src="{{profile}}" alt="profile-img" class="img-fluid">
            {%endif%}
        </div>
       </div>
    </div>
    <div class="center-nav">
        <div class="main-nav">
            <div class="">
                <img src="{% static 'images/home-icon.svg' %}" alt="home" class="img-fluid">
            </div>
            <div class="">
                <img src="{% static 'images/device-icon.svg' %}" alt="home" class="img-fluid">
            </div>
            <div class="">
                <img src="{% static 'images/rooms.svg' %}" alt="home" class="img-fluid">
            </div>
            <div class="">
                <img src="{% static 'images/schedule-icon.svg' %}" alt="home" class="img-fluid">
            </div>
            <div class="">
                <img src="{% static 'images/scenes-icon.svg' %}" alt="home" class="img-fluid">
            </div>

            <div class="logout">
                <img src="{% static 'images/logout-icon.svg' %}" alt="logout-icon" class="img-fluid">
            </div>
        </div>

    </div>

    <div class="bottom-con">
        <div class="main-device-con">
            {%for did, name, type in alldevice%}
            <form action="/" method="post">
                <label for="check" class="device-con offlightcon">
                    <div class="text-center py-4">
                      <img src="{% static 'images/bulb.svg' %}" alt="offlight" class="img-fluid onlightcon">
                      <!-- <img src="{% static 'images/onlight.svg' %}" alt="offlight" class="img-fluid onlightcon"> -->
                      <div class="btn-border">
                          {{name}}
                      </div>
                    </div>
                  </label>
            </form>
            {%endfor%}
            
            <!-- <div class="device-con onlightcon">
              <div class="text-center py-4">
                <img src="{% static 'images/bulb.svg' %}" alt="offlight" class="img-fluid offlight">
                <img src="{% static 'images/onlight.svg' %}" alt="offlight" class="img-fluid offlightcon">
                <div class="btn-border">
                    Admin Light 2
                </div>
              </div>
            </div> -->
          
           
        </div>
    </div>
   </div>
   </div>



<!-- script start=== -->
<script src="{% static ' js' %}"></script>
   <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
   <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>